<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
 
    <include file="Application/Admin/View/Common/header.html" />
     
    <!-- Feature detection -->
    <script src="__THEME__/SpaceLab/js/modernizr-2.6.2.min.js"></script>
 
</head>

<body>
    <section id="container">
        
         
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->

        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h1"> {$page['title']} </h1>
                    </div>
                    <div class="col-md-12">
                        <div class="title-action">
                            <a href="{:U('Admin/Message/index/type/all')}" class="btn btn-primary">全部消息</a>
                            <a href="{:U('Admin/Message/index/type/qa')}" class="btn btn-primary">问答通知</a>
                            <a href="{:U('Admin/Message/index/type/forum')}" class="btn btn-primary">论坛通知</a>
                            <a href="{:U('Admin/Message/index/type/course')}" class="btn btn-primary">课程消息</a>
                            <a href="{:U('Admin/Message/index/type/live')}" class="btn btn-primary">直播消息</a>
                            <a href="{:U('Admin/Message/index/type/system')}" class="btn btn-primary">系统通知</a>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            
                            <div class="ibox-content no-padding">
                                <ul class="list-group">
                                    <volist name="messages" id="vol">
                                        <li class="list-group-item">
                                            <p><a class="text-info" href="javascript:;"> </a> {$vol['message']} </p>
                                            <small class="block text-muted"><i class="fa fa-clock-o"></i> {$vol['post_time']|date='Y年m月d日 H:i:s',###} </small>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </section>
        <!--main content end-->
         

    </section>
    <!--Global JS-->
    <script src="__THEME__/SpaceLab/js/jquery-1.10.2.min.js"></script>
    <script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PLUGIN__/waypoints/waypoints.min.js"></script>
    <script src="__THEME__/SpaceLab/js/application.js"></script>

<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 
</body>

</html>
