<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {$news['title']} | FOE</title>
    <link href="__HOME__/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="__HOME__/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__HOME__/assets/css/lightbox.css" rel="stylesheet"> 
    <link href="__HOME__/assets/css/animate.min.css" rel="stylesheet"> 
    <link href="__HOME__/assets/css/main.css" rel="stylesheet">
    <link href="__HOME__/assets/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="__HOME__/assets/js/html5shiv.js"></script>
        <script src="__HOME__/assets/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="__HOME__/assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__HOME__/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__HOME__/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__HOME__/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__HOME__/assets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
      <!--header start-->
    <include file="Application/Home/View/Header/header.html" />
    <!--header end-->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title"> {$news['title']} </h1> 分类: <span class="green"> {$news['category_name']}</span>
                            <p>{$news['post_time']|pass_time}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

 


        <div class="container">
            <div class="row">
                <div class="col-md-10" style="padding-top: 6%;">
                    <div>
                        
                        
                        <div class="post">
                            {$news['content']}
                        </div>
                         
                         
                    </div>
                

 
                </div>
                <div class="col-md-2"></div>
            </div>
            <!--分页-->
            <div class="row">
                   
            </div>
        </div>
     
    <!--/#projects-->

    <div class="col-md-12" style="padding-bottom: 10%;"></div>



    <script type="text/javascript" src="__HOME__/assets/js/jquery.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/main.js"></script>   
</body>
</html>
