<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
 
    
    <include file="Application/Admin/View/Common/header.html" />

    <!-- iCheck-->
    <link rel="stylesheet" href="__PLUGIN__/icheck/css/_all.css">
   
    <!-- Feature detection -->
    <script src="__THEME__/SpaceLab/js/modernizr-2.6.2.min.js"></script>
    
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <!--mail wrapper start-->
                
                <!--显示邮件开始-->
                
                <div class="row">
                    <div class="col-md-4 col-sm-12" id="compose-wrapper">
                        <div class="panel">
                            <aside class="panel-body">
                                <a href="{:U('Admin/Email/compose')}" class="btn btn-primary btn-block">撰写邮件</a>
                                <ul class="nav nav-pills nav-stacked compose-nav">
                                    <li class="active">
                                        <a href="{:U('Admin/Email/inbox')}"> <i class="fa fa-inbox"></i> 收件箱
                                            <span class="label label-danger pull-right inbox-notification" id="new-messages4"> {$unread_count} </span>
                                        </a>
                                    </li>
                                    <li id="emstar_li" >
                                        <a href="{:U('Admin/Email/inbox/type/star')}"> <i class="fa fa-star-o"></i> 星标邮件
                                             
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Admin/Email/sendbox')}"> <i class="fa fa-envelope-o"></i> 已发送</a>
                                    </li>
                                    <li>
                                        <a href="{:U('Admin/Email/sendbox/type/draft')}"> <i class="fa fa-pencil-square-o"></i> 草稿箱
                                            <span class="label label-info pull-right inbox-notification">1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{:U('Admin/Email/inbox/type/trash')}"> <i class="fa fa-trash-o"></i> 垃圾箱</a>
                                    </li>
                                </ul>
                            </aside>
                        </div>

                        <div class="panel">
                            <aside class="panel-body">
                                <button class="btn btn-default btn-block">管理标签</button>
                                <ul class="nav nav-pills nav-stacked compose-nav">
                                    <volist name="tags" id="tag">
                                        <li> <a href="#"> <i class="fa fa-bookmark danger-txt"></i>  {$tag['name']} </a>  </li>
                                    </volist>

                                </ul>
                            </aside>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-12" id="inbox-wrapper">

                        <section class="panel">
                            <header class="panel-heading wht-bg">
                                <h4 class="gen-case">{$page['title']}  <span id="new-messages3"></span>
                                    <form action="#" class="pull-right mail-src-position">
                                        <div class="input-append">
                                            <input type="text" class="form-control " placeholder="搜索">
                                        </div>
                                    </form>
                                </h4>
                            </header>
                            <div class="panel-body minimal">
                                <div class="mail-option">
                                    <div class="pull-left mail-checkbox ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                            所有
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">已读</a>
                                            </li>
                                            <li><a href="#">未读</a>
                                            </li>
                                            <li><a href="#">星标</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <a data-original-title="刷新" data-placement="top" data-toggle="tooltip" href="#" class="btn btn-default btn-sm tooltips">
                                            <i class=" fa fa-refresh"></i>
                                        </a>
                                    </div>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                            操作
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#"><i class="fa fa-pencil"></i> 标记已读</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-ban"></i> 移至垃圾箱</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-trash-o"></i> 删除</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="inbox-pag pull-right">
                                        <li> </li>      
                                    </ul>

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-inbox table-hover">
                                        <tbody>
                                        	<!--循环遍历-->
                                        	<volist name='emails' id='email'>
                                        		<tr id="email-list-box" isread="{$vol.isread}" >
                                                    <td>
                                                        <input type="checkbox" class="mail-checkbox">
                                                    </td>
                                                    <td  ><if condition="$email['star'] == 1"><i class="fa fa-star" id="starshow1" isstar="{$email['star']}" email_id="{$email.id}"></i><else /><i class="fa fa-star-o" id="starshow2" isstar="{$email['star']}" email_id="{$email.id}"></i></if>
                                                    </td>
                                                    <td class="message">
                                                        <a href="{:U('Admin/Email/view/id/'.$email['id'])}"><span class="title">{$email['sender']['name']} <if condition="$email['from_rid'] eq 1" ><small class="text-danger">管理员</small><elseif condition="$email['from_rid'] eq 2" /><small class="text-navy">教师</small><else/><small class="text-warning">学生</small></if> </span> {$email['subject']} </a>
                                                    </td>
                                                    <td class="text-right">{$email['post_time']|date='Y-m-d H:i:s',###}
                                                        <notempty name="email['attachment_id']"> <i class="fa fa-paperclip"></i> </notempty>
                                                    </td>
                                                </tr>
                                        	</volist>
 
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </section>

                    </div>
 
                </div>
                </div>
                <!--mail wrapper end-->
            </section>
        </section>
        <!--main content end-->
         
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
         
    </section>
    <!--Global JS-->
    <script src="__THEME__/SpaceLab/js/jquery-1.10.2.min.js"></script>
    <script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PLUGIN__/waypoints/waypoints.min.js"></script>
    <script src="__THEME__/SpaceLab/js/application.js"></script>
    <!--Page Level JS-->
    <script src="__PLUGIN__/icheck/js/icheck.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
        });
        $('.tooltips').tooltip();
        
        //未读邮件添加 class=unread 
        $("tr[isread=0]").attr('class','unread');
        
        
        $('#starshow1,#starshow2').on('mouseover',function(){
        	$(this).css('cursor','pointer');
        });
        
        $('#starshow1,#starshow2').on('click',function(){
        	var id = $(this).attr('email_id');
        	var isstar=$(this).attr('isstar');
        	if(isstar){
	        		$(this).attr('class','fa fa-star-o');
	        	}else{
	        		$(this).attr('class','fa fa-star');
	        	}
        	//alert(id);
        	//发送ajax请求
        	var url = "__CONTROLLER__/setStar/isstar/" + isstar +"/id/" + id;
        	$.get(url,function(data,status){  	});       	
        });
 

    });
    </script>
    
 
    
<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 
</body>

</html>
