<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员后台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="__ADMIN__/SpaceLab/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/main.css">
    <!-- DataTables-->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/plugins/dataTables/css/dataTables.css">
 
    <!-- Feature detection -->
    <script src="__ADMIN__/SpaceLab/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__ADMIN__/SpaceLab/assets/js/html5shiv.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h1">教师列表</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">基本信息</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-download" ></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                
                                <div class="table-responsive">
                                <table id="example" class="table table-striped " cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>用户名</th>
                                            <th>邮箱</th>
                                            <th>手机</th>
                                            <th>注册时间</th>
                                            <th>最后登录时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!--循环遍历 显示学员基本信息-->
                                        <volist name='stuinfo' id='vol'>
                                            <tr>
                                            <td>{$vol.id}</td>
                                            <td>{$vol.username}</td>
                                            <td>{$vol.email}</td>
                                            <td>{$vol.tel}</td>
                                            <td>{$vol.registered|date='Y-m-d H:i:s',###}</td>
                                            <td>{$vol.last_login_time|date='Y-m-d H:i:s',###}</td>
                                            <td><a href="{:U('Admin/Teacher/delete/id/'.$vol['id'])}" onclick="return confirm('确认删除该教师的所有信息?')">删除</a></td>
                                        </tr>
                                        </volist>
                                        
 
                                    </tbody>
                                </table>
                              </div>  

                            </div>
                            <div class="panel-body">
                                 {$show}
                            </div>
                            
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <!--main content end-->
        
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
        
    </section>
    <!--Global JS-->
    <script src="__ADMIN__/SpaceLab/assets/js/jquery-1.10.2.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/nanoScroller/jquery.nanoscroller.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/application.js"></script>
    <!--Page Leve JS -->
 
 

</body>

</html>
