<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首页 | FOE </title>
    <link href="__HOME__/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="__HOME__/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__HOME__/assets/css/animate.min.css" rel="stylesheet"> 
    <link href="__HOME__/assets/css/lightbox.css" rel="stylesheet"> 
	<link href="__HOME__/assets/css/main.css" rel="stylesheet">
	<link href="__HOME__/assets/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="__HOME__/assets/js/html5shiv.js"></script>
	    <script src="__HOME__/assets/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="__HOME__/assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__HOME__/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__HOME__/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__HOME__/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__HOME__/assets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	  <!--header start-->
    <include file="Application/Home/View/Header/header.html" />
    <!--header end-->

     
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Free Online Education</h1>
                        <p>一款在线教育系统, 在线课堂、题库、在线测试、直播、Online Judge、实时聊天、论坛等功能俱全</p>
                        <a href="https://foe.zhfsky.com/Welcome/foe.html" class="btn btn-common">马上学习</a>
                    </div>
                    <img src="__HOME__/assets/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="__HOME__/assets/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="__HOME__/assets/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="__HOME__/assets/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="__HOME__/assets/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

 
 
 
 
 

    <!--footer start-->
    <include file="Application/Home/View/Footer/footer.html" />
	<!--footer end--> 

    <script type="text/javascript" src="__HOME__/assets/js/jquery.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/main.js"></script>   

    <script type="text/javascript">
        $('.carousel').carousel({
          interval: 1000
        })
    </script>
</body>
</html>
