<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> 管理员后台 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="__ADMIN__/SpaceLab/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/main.css">
   
    <!-- Feature detection -->
    <script src="__ADMIN__/SpaceLab/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__ADMIN__/SpaceLab/assets/js/html5shiv.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">{$Think.MODULE_NAME}</a> </li>
                            <li>{$Think.CONTROLLER_NAME}</li>
                            <li class="active">{$Think.ACTION_NAME}</li>
                        </ul>
                        <!--breadcrumbs end -->
                        <h1 class="h2">系统设置</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">网站设置</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border" action=" " method="post" >
                                     
                                         
                            		<div class="form-group"><label class="col-md-2 control-label">网站状态</label>
                                          <div class="col-md-10">
                                            <input   type="radio" name="web_status" value="open" checked="checked" />开启
                                            <input   type="radio" name="web_status" value="close" />关闭
                                          </div>
                                    </div>
                                     
                                            
                                     
                              
                                         
                                     
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">用户注册</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">允许注册电子邮箱后缀名</span>
                                                <input type="text" class="form-control" name="email" value="{$data['email']}" >
                                                <span class="input-group-addon">@xxx.com</span>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">是否强制输入手机号码</span>
                                                <input type="text" class="form-control" name="tel" value="{$data['tel']}" >
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">密码强度要求</span>
                                                <input type="text" class="form-control" name="tel" value="{$data['tel']}" >
                                            </div>
                                             
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">用户登录</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">允许多个设备同时在线</span>
                                                <input type="text" class="form-control"  > 
                                                   
                                            </div>
                                            
                                            
                                            <div class="form-group">
				                                        <div class="col-sm-offset-4 col-sm-12">
				                                            <button type="button" class="btn btn-primary">更新系统设置</button>
				                                        </div>
				                                    </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">查看管理资料</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">我的角色</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">拥有权限</span>
                                                <input type="text" class="form-control" readonly="readonly" placeholder="对不起 你没有修改权限 只要查看权限">
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <!--main content end-->
        
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
        
    </section>
    <!--Global JS-->
    <script src="__ADMIN__/SpaceLab/assets/js/jquery-1.10.2.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/application.js"></script>

    <!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
    <!--footer end--> 
</body>

</html>
