<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
 
    <include file="Application/Admin/View/Common/header.html" />
    <!-- DataTables-->
    <link rel="stylesheet" href="__PLUGIN__/dataTables/css/dataTables.css">
 
    <!-- Feature detection -->
    <script src="__THEME__/SpaceLab/js/modernizr-2.6.2.min.js"></script>
 
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h1">学员列表</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">基本信息</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-download" ></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                            	
                            	<div class="table-responsive">
                                <table id="example" class="table table-striped " cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                        	<th>ID</th>
                                        	<th>用户名</th>
                                            <th>真实姓名</th>
                                            <th>邮箱</th>
                                            <th>手机</th>
                                            <th>注册时间</th>
                                            <th>最后登录时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    	<!--循环遍历 显示学员基本信息-->
                                    	<volist name='stuinfo' id='vol'>
                                    		<tr>
                                            <td>{$vol.id}</td>
                                            <td>{$vol.username}</td>
                                            <td>{$vol.truename}</td>
                                            <td>{$vol.email}</td>
                                            <td>{$vol.tel}</td>
                                            <td>{$vol.registered|date='Y-m-d H:i:s',###}</td>
                                            <td>{$vol.last_login_time|date='Y-m-d H:i:s',###}</td>
                                            <td><a href="{:U('Admin/Student/delete/id/'.$vol['id'])}" onclick="return confirm('确认删除该学生的所有信息?')">删除</a></td>
                                        </tr>
                                    	</volist>
                                        
 
                                    </tbody>
                                </table>
                              </div>  

                            </div>
                            <div class="panel-body">
                            	 {$show}
                            </div>
                            
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <!--main content end-->
        
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
        
    </section>
    <!--Global JS-->
    <script src="__THEME__/SpaceLab/js/jquery-1.10.2.min.js"></script>
    <script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PLUGIN__/waypoints/waypoints.min.js"></script>
    <script src="__PLUGIN__/nanoScroller/jquery.nanoscroller.min.js"></script>
    <script src="__THEME__/SpaceLab/js/application.js"></script>
    <!--Page Leve JS -->
 
 

</body>

</html>
