<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title> 录像中... </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css" rel="stylesheet">
    
</head>
<body>
    <video autoplay id="sourcevid" style="width:320;height:240px"></video>
    
    <hr/>
    
    <div class="container">
    	<div class="col-md-12">
    		<button type="button" class="btn btn-primary" id="start_live" >开始直播</button>
    	</div>
    	
    	 <audio autoplay  ></audio>
		
    </div>
  
    

    <script type="text/javascript" charset="utf-8">
    	
    	 
				
   			var video = document.getElementsByTagName('video')[0];
   			
   			var audio = document.getElementsByTagName('audio')[0];
   			
        var socket = new WebSocket("wss://"+document.domain+":8080");
        
      
        
        
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        
        
        navigator.getUserMedia(
        	{audio:true}, 
          	function(stream){
          	 
							  audio.src = window.URL.createObjectURL(stream);
							  
							  
							  socket.onopen = function(){
							  	
							  	setInterval(function(){
							  		socket.send(stream);
							  		//console.log( socket.readyState ); 
							  	}, 100);
							  	
							  }
					
							  
          		
          	},
        	  console.log
        );
    </script>
</body>
</html>
