<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>课程分类--{$_SESSION['cat_title_head']} | Triangle</title>
    <link href="__HOME__/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="__HOME__/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__HOME__/assets/css/lightbox.css" rel="stylesheet"> 
    <link href="__HOME__/assets/css/animate.min.css" rel="stylesheet"> 
		<link href="__HOME__/assets/css/main.css" rel="stylesheet">
		<link href="__HOME__/assets/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="__HOME__/assets/js/html5shiv.js"></script>
	    <script src="__HOME__/assets/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="__HOME__/assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__HOME__/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__HOME__/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__HOME__/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__HOME__/assets/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	  <!--header start-->
    <include file="Application/Home/View/Header/header.html" />
    <!--header end-->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">全部课程</h1>
                            <p>分类搜索>>>{$_SESSION['cat_title_head']}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="projects" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="row">
                    	<volist name="course" id="vol">
                    		<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-single">
                                    <div class="portfolio-thumb">
                                        <img src="__HOME__/assets/images/portfolio/1.jpg" class="img-responsive" alt="{$vol.title}">
                                    </div>
                                    <a href="__CONTROLLER__/details/id/{$vol.id}" class="portfolio-view" title="查看{$vol.title}详细介绍"></a>
                                </div>
                                <div class="portfolio-info ">
                                    <h2>{$vol.title}</h2>
                                </div>
                            </div>
                      	  </div>   
                    	</volist>
                                    
                    </div>
		                <div class="portfolio-pagination">
		                    <ul class="pagination">
		                      <li><a href="#">left</a></li>
		                      <li><a href="#">1</a></li>
		                      <li><a href="#">2</a></li>
		                      <li class="active"><a href="#">3</a></li>
		                      <li><a href="#">4</a></li>
		                      <li><a href="#">5</a></li>
		                      <li><a href="#">6</a></li>
		                      <li><a href="#">7</a></li>
		                      <li><a href="#">8</a></li>
		                      <li><a href="#">9</a></li>
		                      <li><a href="#">right</a></li>
		                    </ul>
		                </div>    
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="sidebar portfolio-sidebar">
                        <div class="sidebar-item categories">
                            <h3>课程分类</h3>
                            <ul class="nav navbar-stacked">
	                            	<li><a href="__CONTROLLER__/category">全部<span class="pull-right">(<php>echo $_SESSION['course_count'];</php>)</span></a></li> 
	                            	<volist name='category' id='vol'>
	                            		<li><a href="__CONTROLLER__/category/id/{$vol.id}">{$vol.name}<span class="pull-right">({$vol.count})</span></a></li> 
	                            	</volist> 
                            </ul>
                        </div>
                        <div class="sidebar-item  recent">
                            <h3>新开的课程</h3>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="__HOME__/assets/images/portfolio/project1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="__HOME__/assets/images/portfolio/project2.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="__HOME__/assets/images/portfolio/project3.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item popular">
                            <h3>受欢迎的课程</h3>
                            <ul class="gallery">
                                <li><a href="#"><img src="__HOME__/assets/images/portfolio/popular1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="__HOME__/assets/images/portfolio/popular2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="__HOME__/assets/images/portfolio/popular3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="__HOME__/assets/images/portfolio/popular4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="__HOME__/assets/images/portfolio/popular5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="__HOME__/assets/images/portfolio/popular1.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#projects-->


    <!--footer start-->
    <include file="Application/Home/View/Footer/footer.html" />
		<!--footer end--> 



    <script type="text/javascript" src="__HOME__/assets/js/jquery.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/main.js"></script>   
</body>
</html>
