<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员后台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="__ADMIN__/SpaceLab/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/css/main.css">
    <!-- iCheck-->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/plugins/icheck/css/_all.css">
    <!-- Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <!-- Feature detection -->
    <script src="__ADMIN__/SpaceLab/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__ADMIN__/SpaceLab/assets/js/html5shiv.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <!--mail wrapper start-->
                               
                
                <div class="row">
                	<div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">{$Think.MODULE_NAME}</a> </li>
                            <li>{$Think.CONTROLLER_NAME}</li>
                            <li class="active">{$Think.ACTION_NAME}</li>
                        </ul>
                        <!--breadcrumbs end -->
                        <h1 class="h1">权限分配</h1>
                        <h3><strong>{$group_data['title']}</strong></h3>
                    </div>
                </div>	
                 
                <div class="row">
                	<div class="col-md-12">
                		<form action="" method="post"> 
											<input type="hidden" name="id" value="{$group_data['id']}">
											<table class="table table-striped table-bordered table-hover table-condensed">
												<foreach name="rule_data" item="v">
													<empty name="v['_data']">
														<tr class="b-group">
															<th width="15%">
																<label>{$v['title']}
																 <input type="checkbox" name="rule_ids[]" value="{$v['id']}" <if condition="in_array($v['id'],$group_data['rules'])"> checked="checked"</if> onclick="checkAll(this)" />
																</label>
															</th>
															<td></td>
														</tr>
												  <else/>
														<tr class="b-group">
															<th width="10%"> 
																<label>{$v['title']} 
																	<input type="checkbox" name="rule_ids[]" value="{$v['id']}" <if condition="in_array($v['id'],$group_data['rules'])"> checked="checked"</if> onclick="checkAll(this)">
																</label>
															<td class="b-child">
																<foreach name="v['_data']" item="n">
																	<table class="table table-striped table-bordered table-hover table-condensed">
																		<tr class="b-group">
																			<th width="10%">
																				<label>{$n['title']} 
																				 <input type="checkbox" name="rule_ids[]" value="{$n['id']}" <if condition="in_array($n['id'],$group_data['rules'])"> checked="checked"</if> onclick="checkAll(this)">
																				</label>
																			</th>
																		 <td>
																		 	<notempty name="n['_data']">
																		 		<volist name="n['_data']" id="c"> 
																		 			<label>&emsp;{$c['title']}
																		 				 <input type="checkbox" name="rule_ids[]" value="{$c['id']}" <if condition="in_array($c['id'],$group_data['rules'])"> checked="checked"</if> >
																		 		  </label>
																		 		</volist>
																		 	</notempty>
																		 </td>
																  	</tr>
															 	  </table>
																</foreach>
													  	</td>
													 </tr>
												 </empty>
											 </foreach>
											<tr>
											 	<th></th>
											 	<td><input class="btn btn-success" type="submit" value="提交"></td>
											 </tr>
										</table>
									 </form>				         
 									</div>
                </div>
                 
                <!--mail wrapper end-->
            </section>
        </section>
        <!--main content end-->
         
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
         
    </section>
    <!--Global JS-->
    <script src="__ADMIN__/SpaceLab/assets/js/jquery-1.10.2.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/application.js"></script>
 
  
 
 
    
<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 
</body>

<script>
$(function(){
	$('#formsubmit-add').on('click',function(){
		$('form').eq(0).submit();
	});
	$('#formsubmit-edit').on('click',function(){
		$('form').eq(1).submit();
	});
}); 

function checkAll(obj){
    $(obj).parents('.b-group').eq(0).find("input[type='checkbox']").prop('checked', $(obj).prop('checked'));
}
 
</script>
</html>
