<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员后台</title>
    
    <include file="Application/Admin/View/Common/header.html" />

    <!-- iCheck-->
    <link rel="stylesheet" href="__ADMIN__/SpaceLab/assets/plugins/icheck/css/_all.css">
   
    <!-- Feature detection -->
    <script src="__ADMIN__/SpaceLab/assets/js/modernizr-2.6.2.min.js"></script>
    
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <!--mail wrapper start-->
                               
                
                <div class="row">
                	<div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h1">用户组管理</h1>
                    </div>
                </div>	
                 
                <div class="row">
                	<div class="col-md-12">
										<div>
											<ul id="myTab" class="nav nav-tabs">
												<li class="active"><a href="#home" data-toggle="tab">用户组列表</a></li>
												<li><a href="javascript:;" onclick="add()">添加用户组</a></li>
											</ul>
										</div>
										<div>
												<div id="myTabContent" class="tab-content">
													<div class="tab-pane fade in active" id="home">
														<table class="table table-striped table-bordered table-hover table-condensed">
																<tr>
																	<th>用户组名</th>
																	<th>操作</th>
																</tr>
																<foreach name="data" item="v">
																	<tr>
																		<td>{$v['title']}</td>
																		<td> <a href="javascript:;" groupid="{$v['id']}"  grouptitle="{$v['title']}" onclick="edit(this)">修改</a> | <a href="javascript:if(confirm('确定删除？'))location='{:U('Admin/Authority/del_group',array('id'=>$v['id']))}'">删除</a> | <a href="{:U('Admin/Authority/auth_assign',array('id'=>$v['id']))}">权限分配</a>
																		</td>
																	</tr>
															</foreach>
														</table>
													</div>
												</div>
											 
										</div>								
										<!-- Form Modal   添加用户组 -->
								    <div class="modal fade" id="group-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								                    <h4 class="modal-title" id="myModalLabel">添加用户组</h4>
								                </div>
								                <div class="modal-body">
								                    <form class="form-horizontal" role="form" action="{:U('Admin/Authority/add_group')}" method="post">
								                        <div class="form-group">
								                            <label for="inputtitle" class="col-sm-2 control-label">用户组名</label>
								                            <div class="col-sm-10">
								                                <input type="text" name="title" class="form-control" id="inputtitle" placeholder="">
								                            </div>
								                        </div>
								                    </form>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								                    <button type="button" class="btn btn-primary" id="formsubmit-add">添加</button>
								                </div>
								            </div>
								        </div>
								    </div>
								    <!-- End Form Modal -->

								    <!-- Form Modal   修改用户组 -->
								    <div class="modal fade" id="group-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								                    <h4 class="modal-title" id="myModalLabel">修改用户组</h4>
								                </div>
								                <div class="modal-body">
								                    <form class="form-horizontal" role="form" action="{:U('Admin/Authority/edit_group')}" method="post">
								                    		<input type="hidden" name="id">
								                        <div class="form-group">
								                            <label for="inputtitle" class="col-sm-2 control-label">用户组名</label>
								                            <div class="col-sm-10">
								                                <input type="text" name="title" class="form-control" id="inputtitle" placeholder="">
								                            </div>
								                        </div>
								                    </form>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								                    <button type="button" class="btn btn-primary" id="formsubmit-edit">提交</button>
								                </div>
								            </div>
								        </div>
								    </div>
								    <!-- End Form Modal -->
							         
 								</div>
               </div>
                 
                <!--mail wrapper end-->
            </section>
        </section>
        <!--main content end-->
         
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
         
    </section>
    <!--Global JS-->
    <script src="__ADMIN__/SpaceLab/assets/js/jquery-1.10.2.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/application.js"></script>
 
  
 
 
    
<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 
</body>

<script>
$(function(){
	$('#formsubmit-add').on('click',function(){
		$('form').eq(0).submit();
	});
	$('#formsubmit-edit').on('click',function(){
		$('form').eq(1).submit();
	});
}); 
//添加用户组
function add(){
	$("input[name='title']").val('');
	$('#group-add').modal('show');
}



//修改用户组
function edit(obj){
	var groupid=$(obj).attr('groupid');
	var grouptitle=$(obj).attr('grouptitle');
	$("input[name='id']").val(groupid);
	$("input[name='title']").val(grouptitle);
	$('#group-edit').modal('show');
}
</script>
</html>
