<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>live cam 接收页面</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="col-md-12" style="text-align:center;">
			<audio autoplay id="receiver"></audio>
		</div>
	</div>
    
     
    <script type="text/javascript" charset="utf-8">
        var receiver_socket = new WebSocket("wss://"+document.domain+":8008");
        var audio = document.getElementById('receiver');
        receiver_socket.onmessage = function(data){
          audio.src = window.URL.createObjectURL(data.data);
        }
    </script>
</body>
</html>
