<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
 
    <include file="Application/Admin/View/Common/header.html" />
    <!-- iCheck-->
    <link rel="stylesheet" href="__PLUGIN__/icheck/css/_all.css">
   
    <!-- Feature detection -->
    <script src="__THEME__/SpaceLab/js/modernizr-2.6.2.min.js"></script>
 
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <!--mail wrapper start-->
                               
                
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h1">教师论坛管理</h1>
                    </div>
                </div>  
                 
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">板块列表</a></li>
                                <li><a href="javascript:;" onclick="add()">添加主板块</a></li>
                                <li ><a href="#setting" data-toggle="tab">论坛设置</a></li>
                            </ul>
                        </div>
                        <div>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tr>
                                            <th>板块名</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        <foreach name="data" item="v">
                                            <tr>
                                                <td>{$v['_name']}</td>
                                                <td>{$v['status']}</td>
                                                <td>
                                                      <a href="javascript:;" forumid="{$v['id']}" forumtitle="{$v['title']}" forumdesc="{$v['description']}" forumslug="{$v['slug']}"  onclick="edit(this)">修改</a> | <a href="{:U('Admin/Forum/del/id/'.$v['id'])}" onclick="return confirm('确认删除?')" >删除</a>  <if condition="$v['_level'] eq 2">   <else/>  ||| <a href="javascript:;" forumid="{$v['id']}" forumtitle="{$v['title']}"  onclick="add_child(this)">添加子板块</a> </if>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </table>
                                </div>

                                <div class="tab-pane fade " id="setting">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">常规设置</h3>
                                                    <div class="actions pull-right">
                                                        <i class="fa fa-chevron-down"></i>
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <form class="form-horizontal form-border" action="{:U('Admin/Forum/setting')}" method="post" >                                      

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">版块列表 lists</label>
                                                            <div class="col-sm-6">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">置顶帖显示数目</span>
                                                                    <input type="number" min='1' class="form-control" name="teacherforum_lists_stickpost_num"  value="{$setting['teacherforum_lists_stickpost_num']}"  >
                                                                </div>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">精华帖显示数目</span>
                                                                    <input type="number" min='1' class="form-control" name="teacherforum_lists_essencepost_num" value="{$setting['teacherforum_lists_essencepost_num']}" >
                                                                </div>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">最新帖每页显示数目</span>
                                                                    <input type="number" min='1' class="form-control" name="teacherforum_lists_latestpost_num" value="{$setting['teacherforum_lists_latestpost_num']}"  >
                                                                </div>
                                                  
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-sm-offset-4 col-sm-12">
                                                                <button type="submit" class="btn btn-primary" >更新设置</button>
                                                            </div>
                                                        </div>
                                                        
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>


                            </div>
                             
                            <div class="col-md-12">
                                <a  href="{:U('Teacher/Forum/index')}"  target="_blank"  class="btn btn-primary">进入教师论坛进行回复</a>
                            </div> 
                        </div>     

                        <!-- Form Modal   添加主板块 添加子板块 -->
                        <div class="modal fade" id="forum-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">添加板块</h4> <span id="forum_help"></span>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form" action="{:U('Admin/Forum/addTeacherForum')}" method="post">
                                            <input type="hidden" name="pid" value="0">
                                            <div class="form-group">
                                                <label for="title" class="col-sm-2 control-label">板块名</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="title" class="form-control" id="title" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="col-sm-2 control-label">描述</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="description" class="form-control" id="description" placeholder="请输入简短有力的板块描述">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="slug" class="col-sm-2 control-label">别名</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="slug"  class="form-control" id="slug" placeholder="请输入别名 美化url">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" id="formsubmit-add">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Form Modal -->

                        <!-- Form Modal   修改板块 -->
                        <div class="modal fade" id="forum-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">修改板块</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form" action="{:U('Admin/Forum/editTeacherForum')}" method="post">
                                            <input type="hidden" name="id">

                                            <div class="form-group">
                                                <label for="title" class="col-sm-2 control-label">板块名</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="title" class="form-control" id="title" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="col-sm-2 control-label">描述</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="description" class="form-control" id="description" placeholder="请输入简短有力的板块描述">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="slug" class="col-sm-2 control-label">别名</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="slug"  class="form-control" id="slug" placeholder="请输入别名 美化url">
                                                </div>
                                            </div> 
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" id="formsubmit-edit">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Form Modal -->
                                     
                    </div>
               </div>
                 
                <!--mail wrapper end-->
            </section>
        </section>
        <!--main content end-->
         
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
         
    </section>
    <!--Global JS-->
    <script src="__THEME__/SpaceLab/js/jquery-1.10.2.min.js"></script>
    <script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PLUGIN__/waypoints/waypoints.min.js"></script>
    <script src="__THEME__/SpaceLab/js/application.js"></script>
 
  
 
 
    
<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 


    <script>
        $(function(){
            $('#formsubmit-add').on('click',function(){
                $('form').eq(1).submit();
            });
            $('#formsubmit-edit').on('click',function(){
                $('form').eq(2).submit();
            });
        }); 

        //添加板块
        function add(){
            $('#forum-add').modal('show');
        }

        // 添加子板块
        function add_child(obj){
            var forumid=$(obj).attr('forumid');
            $("input[name='pid']").val(forumid);
            $('#forum-add').modal('show');
        }

        // 修改板块
        function edit(obj){
            var forumid     = $(obj).attr('forumid');
            var forumtitle  = $(obj).attr('forumtitle');
            var forumdesc   = $(obj).attr('forumdesc');
            var forumslug   = $(obj).attr('forumslug');
            $("input[name='id']").val(forumid);
            $("input[name='title']").val(forumtitle);
            $("input[name='description']").val(forumdesc);
            $("input[name='slug']").val(forumslug);
            $('#forum-edit').modal('show');
        }
    </script>


</body>


</html>
