<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
 
    <include file="Application/Admin/View/Common/header.html" />
  
    <!-- Feature detection -->
    <script src="__THEME__/SpaceLab/js/modernizr-2.6.2.min.js"></script>
 
</head>

<body>
    <section id="container">
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h2">个人资料</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">更新个人资料</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border" action="{:U('User/updatepro')}" method="post" >
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">姓名资料</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">用&nbsp;户&nbsp;名&nbsp;</span>
                                                <input type="text" class="form-control" name="username" readonly="readonly" value="{$data['username']}"  >
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">&nbsp;&nbsp;昵&nbsp;&nbsp;称&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" name="nickname" value="{$data['nickname']}" placeholder=" Nickname">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">真实姓名</span>
                                                <input type="text" class="form-control" name="truename" value="{$data['truename']}" placeholder="Truename">
                                            </div>
                              
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">联系信息</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">电子邮箱</span>
                                                <input type="text" class="form-control" name="email" value="{$data['email']}" >
                                                <span class="input-group-addon">@已认证</span>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">手机号码</span>
                                                <input type="text" class="form-control" name="tel" value="{$data['tel']}" placeholder="Please Input Tel">
                  															<span class="input-group-addon">@已绑定</span>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">个人博客</span>
                                                <input type="text" class="form-control" name="blog" value="{$data['blog']}" placeholder="Please Input Site URL">
                                            </div>
            
                                            <div class="input-group">
                                                <span class="input-group-addon">Q Q</span>
                                                <input type="text" class="form-control" name="qq" value="{$data['qq']}" placeholder="Please Input QQ Number">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">微信</span>
                                                <input type="text" class="form-control" name="wechat" value="{$data['wechat']}" placeholder="Please Input Wechat Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">账户管理</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">新密码</span>
                                                <input type="text" class="form-control" placeholder="Please Input New Password"> 
                                                <span class="input-group-addon">生成密码</span>    
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">加密盐</span>
                                                <input type="text" class="form-control" placeholder="Please Input Salt">
                                            </div>
                                            
                                            <div class="form-group">
				                                        <div class="col-sm-offset-4 col-sm-12">
				                                            <button type="submit" class="btn btn-primary">更新个人资料</button>
				                                        </div>
				                                    </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">查看管理资料</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">我的角色</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">拥有权限</span>
                                                <input type="text" class="form-control" placeholder=" ">
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <!--main content end-->
        
        <!--sidebar right start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
        
    </section>
    <!--Global JS-->
    <script src="__THEME__/SpaceLab/js/jquery-1.10.2.min.js"></script>
    <script src="__PLUGIN__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PLUGIN__/waypoints/waypoints.min.js"></script>
    <script src="__THEME__/SpaceLab/js/application.js"></script>

<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 
</body>

</html>
