<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
 
    <include file="Application/Admin/View/Common/header.html" />
    
    <!-- Feature detection -->
    <script src="__ADMIN__/SpaceLab/assets/js/modernizr-2.6.2.min.js"></script>
 
</head>

<body>
    <section id="container">
        
        <!--header start-->
        <include file="Application/Admin/View/Header/tpl-header.html" />
        <!--header end-->
        
        <!--sidebar start-->
        <include file="Application/Admin/View/Sidebar/tpl-sidebar.html" />
        <!--sidebar end-->
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <include file="Application/Admin/View/Sidebar/tpl-breadcrumb.html" />
                        <!--breadcrumbs end -->
                        <h1 class="h1">直播列表</h1>
                    </div>
                </div>

      

                <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">已经通过审核的直播</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div class="table-responsive">
                                    <table class="table  ">
                                        <thead>
                                            <tr>
                                                <th>#ID</th>
                                                <th>标题</th>
                                                <th>分类</th>
                                                <th>状态</th>
                                                <th>创建时间</th>
                                                <th>发布日期</th>
                                                <th>教师</th>
                                                <th>管理</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <volist name="lives" id="vol">
                                                <tr>
                                                    <td>{$vol['id']}</td>
                                                    <td>{$vol['title']|subtext=30} </td>
                                                    <td> {$vol['category_name']}</td>
                                                    <td> {$vol['status']}</td>
                                                    <td> {$vol['created_time']|date='Y-m-d H:i:s',###}</td>
                                                    <td> {$vol['release_time']|date='Y-m-d H:i:s',###}</td>
                                                    <td>{$vol['teacher_name']} </td>
                                                    <td> <a href="{:U('Admin/Live/close/id/'.$vol['id'])}" onclick="return confirm('确认关闭课程?')">关闭直播</a>| <a href="{:U('Admin/Live/delete/id/'.$vol['id'])}" onclick="return confirm('确认删除该直播及其所有相关信息?')">删除直播</a>| <a href="{:U('Live/Watch/index/id/'.$vol['id'])}" target="_blank">查看</a> </td>
                                                </tr>
                                            </volist>
                                            
                                             
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="panel-body">
                                 {$show}
                            </div>
                          
                                 
                             
                            
                            
                        </div>
                        <a href="{:U('Admin/Live/check')}" class="btn btn-primary" >审核直播</a>
                    </div>
                </div>
                
               
                
                
              

            </section>
        </section>
        <!--main content end-->
        
        <!--sidebar right start-->
         <include file="Application/Admin/View/Sidebar/tpl-sidebar-right.html" />
        <!--sidebar right end-->
        
    </section>
    <!--Global JS-->
    <script src="__ADMIN__/SpaceLab/assets/js/jquery-1.10.2.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/plugins/nanoScroller/jquery.nanoscroller.min.js"></script>
    <script src="__ADMIN__/SpaceLab/assets/js/application.js"></script>

<!--footer start-->
     <include file="Application/Admin/View/Index/tpl-footer.html" />
<!--footer end--> 
</body>

</html>
